@using UConnBleedBlue.Models


<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">UConnBleedBlue</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="playersAttending">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Registered Alumni
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="menu">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Tailgate Menu
            </NavLink>
        </div>
        @*<div class="nav-item px-3">
            <NavLink class="nav-link" href="obtainTicketsAndParking">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Tickets & Parking
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tailgateLocation">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Tailgate Location Map
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Donate">
                <span class="oi oi-list-rich" aria-hidden="true"></span> @donatePageLabel
            </NavLink>
        </div>
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="Costs">
                <span class="oi oi-list-rich" aria-hidden="true"></span> @costsPageLabel
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="PlayersThatDonated">
                <span class="oi oi-list-rich" aria-hidden="true"></span> @playersThatDonatedPageLabel
            </NavLink>
        </div>*@
        <div class="nav-item px-3" @onclick:stopPropagation>
            <button class="nav-link btn btn-link w-100 text-start d-flex align-items-center"
                    type="button"
                    @onclick="TogglePhotos"
                    @onclick:stopPropagation>
                <span class="oi oi-image me-2" aria-hidden="true"></span>
                Photo Gallery
                <span class="ms-auto oi oi-chevron-bottom @(photosOpen ? "rotate-180" : "")"
                      aria-hidden="true"></span>
            </button>

            @* NOTE: no 'collapse' class here *@
            <div class="submenu" style="display:@(photosOpen ? "block" : "none")" @onclick:stopPropagation>
                <NavLink class="nav-link nav-sublink ms-4" href="photoGallery1">Photo Gallery 1</NavLink>
                <NavLink class="nav-link nav-sublink ms-4" href="photoGallery2">Photo Gallery 2</NavLink>
                <NavLink class="nav-link nav-sublink ms-4" href="photoGallery3">Photo Gallery 3</NavLink>
                <NavLink class="nav-link nav-sublink ms-4" href="photoGallery4">Photo Gallery 4</NavLink>
            </div>
        </div>
        <div class="nav-item px-3">
            <button class="nav-link btn btn-link w-100 text-start d-flex align-items-center"
                    type="button"
                    @onclick="ToggleTeams"
                    @onclick:stopPropagation>
                <span class="oi oi-image me-2" aria-hidden="true"></span>
                Team Photos
                <span class="ms-auto oi oi-chevron-bottom @(teamsOpen ? "rotate-180" : "")" aria-hidden="true"></span>
            </button>

            @* We control visibility ourselves (no Bootstrap 'collapse' class) *@
            <div class="submenu" style="display:@(teamsOpen ? "block" : "none")">
                <NavLink class="nav-link nav-sublink ms-4" href="photoGalleryTeams60-89">
                    Teams 1960–1989
                </NavLink>
                <NavLink class="nav-link nav-sublink ms-4" href="photoGalleryTeams90-24">
                    Teams 1990–2024
                </NavLink>
            </div>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tributeToCoachB">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Tributes To Coach B
            </NavLink>
        </div>
        @*<div class="nav-item px-3">
            <NavLink class="nav-link" href="video-gallery">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Videos (Under Constuction)
            </NavLink>
        </div>*@
    </nav>
</div>

<style>

    .submenu .nav-sublink {
        font-size: 0.95rem;
        padding-left: 0.25rem;
    }

    .rotate-180 {
        transform: rotate(180deg);
        transition: transform 180ms ease;
    }

    /* Make active sub-links stand out a bit */
    .nav-sublink.active {
        font-weight: 600;
        text-decoration: underline;
    }

</style>
@code {
    private string playersThatDonatedPageLabel = "";

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private string err = "";

    DonationsService donationsService = new DonationsService();

    PlayersService playersService = new PlayersService();

    private bool photosOpen = false;

    private bool teamsOpen = false;

    protected override void OnInitialized()
    {
        try
        {
            playersThatDonatedPageLabel = $"Current Donors  {donationsService.NumberOfPeopleDonating}";
        }
        catch (Exception ex)
        {
            err = ex.Message;
        }
    }
    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    private void TogglePhotos()
    {
        photosOpen = !photosOpen;
    }
    private void ToggleTeams()
    {
        teamsOpen = !teamsOpen;
    }
}
