@page "/"

@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.Authorization
@namespace UConnBleedBlue.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="UConnBleedBlue.styles.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
    <script src="js/site.js"></script>
</head>
<body>
    <app>
        <CascadingAuthenticationState>
            <component type="typeof(App)" render-mode="ServerPrerendered" />
        </CascadingAuthenticationState>
    </app>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>

    <script>
        window.loginWithUsername = async function (username) {
            const formData = new FormData();
            formData.append("username", username);

            const response = await fetch("/auth/login", {
                method: "POST",
                body: formData,
                credentials: "include"
            });

            return response.ok;
        };
    </script>

    @*<script src="scripts/fullscreen.js"></script>*@

    <script>
        window.addEventListener('DOMContentLoaded', () => {
            setTimeout(() => {
                const el = document.getElementById('blazor-error-ui');
                if (el && el.style.display !== 'none') {
                    el.style.display = 'none';
                }
            }, 500); // hide after 1/2 second
        });
    </script>
</body>
</html>
