@page "/attendenceForm"

@using UConnBleedBlue.Models
@using MailKit.Net.Smtp
@using MailKit.Security

<h1 class="textParagraph">2024 Attendence Form</h1>

<div class="verticalspacer"></div>

<body>
    <EditForm Model=@EmailRequest OnSubmit="Submit" FormName="TributeToAndy">
        <div>
            <label class="textParagraph">
                Player Name:
                <InputText @bind-Value="EmailRequest.From" />
            </label>
        </div>

        <div class="verticalspacer"></div>

        <div>
            <label class="textParagraph">
                Player Email Address:
                <InputText @bind-Value="EmailRequest.FromEmail" />
            </label>
        </div>

        <div class="verticalspacer"></div>

        <div>
            <label class="textParagraph">
                Last Year (Fall) You Played:
                <InputText @bind-Value="@lastFall" />
            </label>
        </div>

        <div class="verticalspacer"></div>

        <label class="labelCheckbox">
            I want to volunteer to help at the tailgate
            <InputCheckbox style="width:25px;height:25px"  typeof="checkbox" @bind-Value="IsChecked" />
        </label>

        <div class="verticalspacer"></div>

        <div>
            <button type="submit" class="btn btn-primary mt-2">Click To Indicate You Are Attending</button>
        </div>

        <div class="verticalspacer"></div>

        <div>
            <label class="labelError">
                @emailStatus
            </label>
        </div>
    </EditForm>

</body>

@code {
    [SupplyParameterFromForm(FormName = "EmailForm")]
    EmailRequest EmailRequest { get; set; } = new();

    [Parameter]
    public bool IsChecked { get; set; } = false;


    private string emailStatus = "";

    private string lastFall = "";

    Timer? timer;

    private void OnTimerEvent(object? state)
    {
        emailStatus = "";
        IsChecked = false;
        InvokeAsync(StateHasChanged);
    }
    void Submit()
    {
        try
        {
            if (timer != null)
            {
                timer.Dispose();
            }
            if (EmailRequest.From.Length < 3)
            {
                emailStatus = "Enter a valid name";
                timer = new Timer(OnTimerEvent, null, 5000, Timeout.Infinite);
                return;
            }
            if (EmailRequest.FromEmail.Length < 7)
            {
                emailStatus = "Enter a valid email address";
                timer = new Timer(OnTimerEvent, null, 5000, Timeout.Infinite);
                return;
            }
            if (EmailRequest.FromEmail.Contains(".") == false)
            {
                emailStatus = "Enter a valid email address";
                timer = new Timer(OnTimerEvent, null, 5000, Timeout.Infinite);
                return;
            }
            if (EmailRequest.FromEmail.Contains("@") == false)
            {
                emailStatus = "Enter a valid email address";
                timer = new Timer(OnTimerEvent, null, 5000, Timeout.Infinite);
                return;
            }
            // force TLS 1.2 connection if your application requires
            System.Net.ServicePointManager.SecurityProtocol = System.Net.SecurityProtocolType.Tls12;

            string server = "mail5019.site4now.net";
            int port = 587; // 587 for StartTls
            string from = "kenny@andybleedblue.com";
            string password = "UConnBleedBlue62$";
            string to = "kenny@andybleedblue.com";  // SharkAsp.net will forward it to kpdemers073@gmail.com

            var message = new MimeKit.MimeMessage();
            message.From.Add(new MimeKit.MailboxAddress(EmailRequest.From, from)); // replace from_name with real name
            message.To.Add(new MimeKit.MailboxAddress("kenny@andybleedblue.com", to)); // replace to_name with real name
            message.Subject = "Player Attending";
            message.Body = new MimeKit.TextPart("plain")
                {
                    Text = EmailRequest.From + " , " + EmailRequest.FromEmail + " , " + lastFall + " , " + IsChecked.ToString()
                };

            using (var client = new MailKit.Net.Smtp.SmtpClient())
            {
                client.Connect(server, port, MailKit.Security.SecureSocketOptions.StartTls); // for port 587
                client.Authenticate(from, password);
                client.Send(message);
                client.Disconnect(true);
            }
            EmailRequest.From = "";
            EmailRequest.FromEmail = "";
            EmailRequest.Tribute = "";

            emailStatus = "Attendance Information Successfully Submitted";

            timer = new Timer(OnTimerEvent, null, 5000, Timeout.Infinite);
        }
        catch (Exception ex)
        {
            emailStatus = "Error - " + ex.Message;
            timer = new Timer(OnTimerEvent, null, 5000, Timeout.Infinite);
        }
    }
}

