@page "/Donations"

<div class="messageBox">
    <p>Donation instructions coming soon</p>
    <p>Donations are encouraged to offset tailgate cost and add money to Andy's Football Alumni Fund & Mike Burton's Football NIL fund!</p>
    <p>This year, we hope to raise more than the 44K we raised last year!</p>
    <p>The 1st 3K raised will go to cover the cost of the tailgate</p>
    <p>The next 10K raised will go to into Andy's Football Alumni Fund</p>
    <p>Any additional donations will go into the Football NIL Fund</p>
</div>

@code {
    public string? img { get; set; }
    List<string> fileList = new List<string>();
    string path = $"{Directory.GetCurrentDirectory()}{@"\wwwroot\images"}";
    int index = 0;

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
    public void LoadImages()
    {
        string[] files;
        files = Directory.GetFiles(path);
        foreach (var file in files)
        {
            if (Path.GetFileName(file) == "Andy1.jpg")
            {
                continue;
            }
            fileList.Add("images/" + Path.GetFileName(file));
        }
    }
    private void OnTimerEvent(object? state)
    {
        img = fileList[index++];
        if (index >= fileList.Count)
        {
            index = 0;
        }
        InvokeAsync(StateHasChanged);
    }
}
