@page "/Donations"

<style>

    .messageBoxXL {
        width: 90%;
        padding: 10px 10px 10px 10px;
        border: 2px solid blue;
        margin: auto;
        color: blue;
        background-color: yellow;
        text-align: center;
        font-size: x-large;
        font-weight: bold;
    }

</style>

<div class="messageBoxXL">
    <p>
        All Money Donated Will Go Towards -
    </p>
    <p>
        Covering The Cost Of The Tailgate - Roughly $3000.
    </p>
    <p>
        Adding $5000 to Andy's Football Alumni Fund.
    </p>
    <p>
        Adding Funds To The Football NIL Fund (Last Year We Raised $45,000 For Andy's Fund).
    </p>
</div>

<div class="verticalspacer"></div>

<div class="messageBoxXL">
    <p>
        Added Bonus: Donations Of $100 Or More Will Give You A Premium Subscription To "Storrs Central".
    </p>
    <div class="tickets">
        <a href="https://storrscentral.com/">View Storrs Central</a>
    </div>
</div>

<div class="verticalspacer"></div>

<div class="messageBoxXL">
    <p>
        Please Click The Link Below - This Will Allow You To Donate Via The UConn NIL Website.
    </p>
    <div class="tickets">
        <p>
            <a href="https://www.bleedingblueforgood.org/donate">Donate To Andy & The Football NIL</a>
        </p>
    </div>
    <p>
        Fill Out The Form As Shown Below - BUT USE YOUR NAME & EMAIL ADDRESS.
    </p>
    <p>
        You Must Add The Words "Football Alumni".
    </p>
    <p>
        All Donations Are Tax Deductable.
    </p>
    <p>
        <div>
            <img src="imagesTeamPhotos/DonationInstructions.png" class="center">
        </div>
    </p>
</div>



@code {

}
