@page "/donations"

<style>

    .messageBoxXL {
        width: 90%;
        padding: 10px 10px 10px 10px;
        border: 2px solid blue;
        margin: auto;
        color: blue;
        background-color: yellow;
        text-align: center;
        font-size: x-large;
        font-weight: bold;
    }

    .verticalspacer {
        height: 10px;
    }

    h1 {
        display: table;
        margin: 10px auto;
        padding: 5px;
        font-size: 50px;
        color: #ffffff;
        overflow: hidden;
    }

    h1 {
        text-shadow: 0 0 5px blue,0 0 5px blue, 0 0 5px blue,0 0 5px blue, 0 0 5px blue,0 0 5px blue, 0 0 5px blue,0 0 5px blue;
    }
</style>

<h1>Please Donate - Every Little Bit Helps</h1>

<div class="messageBoxXL">
    <p>
        All Donations Will Go Into Two Pots.
    </p>
    <p>
        The 1st Pot Pays For The Cost Of The Tailgate - This Year approximately $2500.
    </p>
    <p>
        The 2nd Pot Will Go Into Coach B's "Football Alumni Fund"
    </p>
    <p>
        We Have Donated Over $50,000.00 To The Fund Over The Last Two Years.
    </p>
    <p style="background-color:powderblue;">
        Current Donations Received: @donationService.TotalDonations.ToString("C") From @donationService.NumberOfPeopleDonating Players
    </p>
</div>

<div class="verticalspacer"></div>

@*<div>
    <img src="imagesTeamPhotos/MoraNIL.png" class="center">
</div>*@
<div>
    <p>
        <div>
            <img src="imagesTeamPhotos/DonationInstructions.png" class="center">
        </div>
    </p>
</div>



@code {
    DonationsService donationService = new DonationsService();


}
