@page "/Donations"

<div class="messageBox">
    <p>Donation instructions coming soon</p>
    <p>Donations are encouraged to offset tailgate cost and add money to Andy's Football Alumni Fund & Mike Burton's Football NIL fund!</p>
    <p>This year, we hope to raise more than the 44K we raised last year!</p>
</div>

@code {

}
