@page "/"

@using UConnBleedBlue.Models
@using MailKit.Net.Smtp
@using MailKit.Security

<style>
    h0 {
        color: red;
        font-size: 40px;
    }

</style>

<PageTitle>Football Alumni News</PageTitle>

<h1 class="textBox">
    Second Annual Bleed Blue With Andy UConn Football Alumni Tailgate!
</h1>

@if (imageSource is not null)
{
    <div>
        <img src="@imageSource" asp-append-version="true" class="center" />
    </div>
}
<div class="verticalspacer"></div>

<div class="messageBox">
    <p>
        Game: UConn vs. Rice
    </p>
    <p>
        Date / Time: Saturday October 26, 2024   3:30
    </p>
    <p>
        Tailgate Starts: 12:00 Noon
    </p>
    <h0>
        Tickets: Go To The "Tickets & Parking" Page To Obtain 2 Free Tickets & Purchase A Blot Lot Parking Pass
    </h0>
    <p>
        Menu: Similar to last year featuring Hotdogs, Hamburgers, Sausage & Peppers, Water, Soda, and Beer. I will again be grilling with last year's master chef 'Seamus Donagher
    </p>
    <p>
        <div>
            <img src="images1/seamus.jpg" class="center">
        </div>
    </p>
    <p>Andy will have his tent to celebrate the 20th Anniversary of the 2004 Motor City Bowl Team</p>
    <p>We can mingle between Andy's tent and the tailgate prior to the game</p>
    <p>Please send me any UConn Football related photos you have so I can post them on this site</p>
    <p>I need about 10 volunteers that can come to the tailgate early and help setup.</p>
    <p>Questions: Kenny Demers    (860) 310-7141   or kpdemers073@gmail.com</p>
</div>

@code {

    private string imageSource = $"images1/Andy1.jpg";
}

