@page "/"

@using UConnBleedBlue.Models
@using MailKit.Net.Smtp
@using MailKit.Security

<style>
    h0 {
        color: red;
        font-size: 40px;
    }

    .messageBoxXL {
        width: 90%;
        padding: 10px 10px 10px 10px;
        border: 2px solid blue;
        margin: auto;
        color: blue;
        background-color: yellow;
        text-align: center;
        font-size: x-large;
        font-weight: bold;
    }

    h1 {
        display: table;
        margin: 10px auto;
        padding: 5px;
        font-size: 50px;
        color: #ffffff;
        overflow: hidden;
    }

    h1 {
        text-shadow: 0 0 5px blue,0 0 5px blue, 0 0 5px blue,0 0 5px blue, 0 0 5px blue,0 0 5px blue, 0 0 5px blue,0 0 5px blue;
    }
</style>


<PageTitle>Football Alumni News</PageTitle>

<h1>
    2nd Annual Bleed Blue With Andy UConn Football Alumni Tailgate!
</h1>

@if (imageSource is not null)
{
    <div>
        <img src="@imageSource" asp-append-version="true" class="center" />
    </div>
}
<div class="verticalspacer"></div>

<div class="messageBox">
    <p>
        Game: UConn vs. Rice
    </p>
    <p>
        Date / Time: Saturday October 26, 2024   3:30
    </p>
    <p>
        Tailgate Starts: 12:00 Noon
    </p>
    <h0>
        If You Have Requested Tickets, You Will Be Notified Regarding Your Ticket Order This Week
    </h0>
    <p>
        Menu: Featuring Hotdogs, Hamburgers, Sausage & Peppers, Water, Soda, and Beer. I Will Again Be Grilling With Last Year's Grill Master - 'Seamus Donagher'
    </p>
    <p>
        <div>
            <img src="images1/seamus.jpg" class="center">
        </div>
    </p>
    <p>Andy will have his tent to celebrate the 20th Anniversary of the 2004 Motor City Bowl Team</p>
    <p>We can mingle between Andy's tent and the tailgate prior to the game</p>
    <p>Questions: Kenny Demers    (860) 310-7141   or kpdemers073@gmail.com</p>
</div>


@code {

    private string imageSource = $"images1/Andy1.jpg";
}

