@page "/"

<style>
    .boxSmall {
        display: flex;
        height: 100px;
        color: blue;
    }

    .boxMedium {
        display: flex;
        height: 200px;
        color: blue;
    }

    .boxLarge {
        display: flex;
        height: 600px;
        color: blue;
    }

    .leftSmall {
        width: 25%;
        height: 80px;
        background-color: yellow;
    }

    .rightSmall {
        width: 70%;
        height: 80px;
        background-color: lightgray;
    }

    .leftMedium {
        width: 25%;
        height: 80px;
        background-color: yellow;
    }

    .rightMedium {
        width: 70%;
        height: 180px;
        background-color: lightgray;
    }

    .rightLarge {
        width: 70%;
        height: 580px;
        background-color: lightgray;
    }

</style>

<PageTitle>Football Alumni News</PageTitle>

<h1 style="color: blue;"><b>The 2nd Annual Bleed Blue With Andy UConn Football Alumni Tailgate!</b></h1>

<body>
    <div class="boxSmall">
        <section class="leftSmall">
            <h1>Game:</h1>
        </section>
        <aside class="rightSmall">
            <h1><b>UConn vs. Rice</b></h1>
        </aside>
    </div>
    <div class="boxSmall">
        <section class="leftSmall">
            <h1>Date / Time:</h1>
        </section>
        <aside class="rightSmall">
            <h1><b>Saturday October 26, 2024   3:30</b></h1>
        </aside>
    </div>
    <div class="boxSmall">
        <section class="leftSmall">
            <h1>Tailgate Starts:</h1>
        </section>
        <aside class="rightSmall">
            <h1><b>12:00 Noon</b></h1>
        </aside>
    </div>
    <div class="boxSmall">
        <section class="leftSmall">
            <h1>Tickets & Parking:</h1>
        </section>
        <aside class="rightSmall">
            <h1><b>Details Coming Next Week after I meet with Kevin Freeman</b></h1>
        </aside>
    </div>
    <div class="boxSmall">
        <section class="leftSmall">
            <h1>Cost:</h1>
        </section>
        <aside class="rightSmall">
            <h1><b>Free</b></h1>
        </aside>
    </div>
    <div class="boxMedium">
        <section class="leftSmall">
            <h1>Menu:</h1>
        </section>
        <aside class="rightMedium">
            <h1><b>Hotdogs, Hamburgers, Sausage & Peppers, Water, Soda, and Beer. I will again be grilling with last year's master chef 'Seamus Donagher'</b></h1>
        </aside>
    </div>
    <div class="boxLarge">
        <section class="leftSmall">
            <h1>Notes:</h1>
        </section>
        <aside class="rightLarge">
            <h1>Andy will have his tent to celebrate the 20th Anniversary of the 2004 Motor City Bowl Team</h1>
            <h1>We can mingle between Andy's tent and the tailgate prior to the game</h1>
            <h1>Donations appreciated to offset tailgate cost and add money to Andy's Football Alumni Fund!</h1>
            <h1>We hope to raise 20K for Andy's Fund this year</h1>
            <h1>Donation instructions coming soon</h1>
            <h1 style="color: red;">The old site "www.UConnBleedBlue.com is under construction and will be combined with this site in a few weeks"</h1>
        </aside>
    </div>
    <div class="boxMedium">
        <section class="leftSmall">
            <h1>Questions:</h1>
        </section>
        <aside class="rightMedium">
            <h1>Contact&nbsp;&nbsp;&nbsp;&nbsp;Kenny Demers</h1>
            <h1>(860) 310-7141</h1>
            <h1>kpdemers073@gmail.com</h1>
        </aside>
    </div>
</body>

