@page "/"

@using UConnBleedBlue.Models
@using MailKit.Net.Smtp
@using MailKit.Security

<style>
    h0 {
        color: red;
        font-size: 40px;
    }

    .messageBoxXL {
        width: 90%;
        padding: 10px 10px 10px 10px;
        border: 2px solid blue;
        margin: auto;
        color: blue;
        background-color: yellow;
        text-align: center;
        font-size: x-large;
        font-weight: bold;
    }

    h1 {
        display: table;
        margin: 10px auto;
        padding: 5px;
        font-size: 50px;
        color: blue;
        overflow: hidden;
    }

    h2 {
        display: table;
        margin: 10px auto;
        padding: 5px;
        font-size: 30px;
        color: #ffffff;
        overflow: hidden;
    }

    h2 {
        text-shadow: 0 0 5px blue,0 0 5px blue, 0 0 5px blue,0 0 5px blue, 0 0 5px blue,0 0 5px blue, 0 0 5px blue,0 0 5px blue;
    }
    
</style>


<PageTitle>Football Alumni News</PageTitle>

<h1>
    3nd Annual "Bleed Blue With Andy"" UConn Football Alumni Tailgate!
</h1>

<h1>
    Saturday November 1, 2025&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;UAB&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Time: TBD
</h1>
<br />

<h1>
    Fill Out The Alumni Form - To Get Game Tickets
</h1>

<h1>
    More Tailgate Details Coming Soon
</h1>

@if ((imageSource1 is not null) && (imageSource2 is not null))
{
    <div>
        <img src="@imageSource1" asp-append-version="true" class="center" />
    </div>
    <div>
        <img src="@imageSource2" asp-append-version="true" class="center" />
    </div>
}

@code {

    private string imageSource1 = $"images2/GroupPhoto2024.png";
    private string imageSource2 = $"images1/Andy1.jpg";
}

