@page "/"

<style>
    .boxSmall {
        display: flex;
        height: 100px;
        color: blue;
    }

    .boxMedium {
        display: flex;
        height: 200px;
        color: blue;
    }

    .boxLarge {
        display: flex;
        height: 600px;
        color: blue;
    }

    .leftSmall {
        width: 25%;
        height: 80px;
        background-color: yellow;
    }

    .rightSmall {
        width: 70%;
        height: 80px;
        background-color: lightgray;
        text-align:center;
    }

    .leftMedium {
        width: 25%;
        height: 80px;
        background-color: yellow;
    }

    .rightMedium {
        width: 70%;
        height: 180px;
        background-color: lightgray;
    }

    .rightLarge {
        width: 70%;
        height: 580px;
        background-color: lightgray;
    }

</style>

<PageTitle>Football Alumni News</PageTitle>

<h1 style="color: blue;"><b>The 2nd Annual Bleed Blue With Andy UConn Football Alumni Tailgate!</b></h1>

@if (imageSource is not null)
{
    <div>
        <img src="@imageSource" asp-append-version="true" style="width:1300px;height:800px;" />
    </div>
}
<body>
    <div class="boxSmall">
        <section class="leftSmall">
            <h1>Game:</h1>
        </section>
        <aside class="rightSmall">
            <h1><b><font size="10">UConn vs. Rice</font></b></h1>
        </aside>
    </div>
    <div class="boxSmall">
        <section class="leftSmall">
            <h1>Date / Time:</h1>
        </section>
        <aside class="rightSmall">
            <h1><b><font size="10">Saturday October 26, 2024   3:30</font></b></h1>
        </aside>
    </div>
    <div class="boxSmall">
        <section class="leftSmall">
            <h1>Tailgate Starts:</h1>
        </section>
        <aside class="rightSmall">
            <h1><b><font size="10">12:00 Noon</font></b></h1>
        </aside>
    </div>
    <div class="boxMedium">
        <section class="leftMedium">
            <h1>Tickets & Parking:</h1>
        </section>
        <aside class="rightMedium">
            <h1 style ="color: red;"><b>Will Again Be Free!</b></h1>
            <h1><b>Details Coming Next Week after Kevin Freeman (Director UConn 'C' Club) talks to the Kyle Kravchuk (ticket office)</b></h1>
        </aside>
    </div>
    <div class="boxMedium">
        <section class="leftSmall">
            <h1>Menu:</h1>
        </section>
        <aside class="rightMedium">
            <h1><b>Similar to last year featuring Hotdogs, Hamburgers, Sausage & Peppers, Water, Soda, and Beer. I will again be grilling with last year's master chef 'Seamus Donagher'</b></h1>
        </aside>
    </div>
    <div class="boxLarge">
        <section class="leftSmall">
            <h1>Notes:</h1>
        </section>
        <aside class="rightLarge">
            <p><b><font size="6">Andy will have his tent to celebrate the 20th Anniversary of the 2004 Motor City Bowl Team</font></b></p>
            <p style="color: purple;"><b><font size="6">We can mingle between Andy's tent and the tailgate prior to the game</font></b></p>
            <p style="color: blue;"><b><font size="6">Please send me any UConn Football related photos you have so I can post them on this site</font></b></p>
            <p style="color: red;"><b><font size="6">The old site "www.UConnBleedBlue.com is under construction and will be combined with this site in a few weeks"</font></b></p>
        </aside>
    </div>
    <div class="boxMedium">
        <section class="leftSmall">
            <h1>Questions:</h1>
        </section>
        <aside class="rightMedium">
            <h1>Contact&nbsp;&nbsp;&nbsp;&nbsp;Kenny Demers</h1>
            <h1>(860) 310-7141</h1>
            <h1>kpdemers073@gmail.com</h1>
        </aside>
    </div>
</body>

@code {
    private string imageSource = $"images/Andy1.jpg";

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}