@page "/ObtainTicketsAndParking"

<h1 class="textBox">Tickets</h1>


<div class="messageBox">
    <p>
        The UConn ticket office is currently in the process of providing me a link to allow UConn football alumni to order up to 2 free tickets to the Rice game
    </p>
    <p>
        As soon as I get the link, I will make it available on this page
    </p>
    <p>
        This year all tickets will be provided to players electroniclly
    </p>
</div>

<div class="verticalspacer"></div>

<div class="verticalspacer"></div>

<div class="verticalspacer"></div>

<h1 class="textBox">Blue Lot Parking</h1>

<div class="messageBox">
    <p>
        Below Is The Link To Purchase A Blue Lot Parking Pass
    </p>
    <p>
        <a href="https://www.ticketmaster.com/promo/qbw0wp"><b>Purchase Blue Lot Parking For The Rice Game</b></a>
    </p>
</div>
