@page "/ObtainTicketsAndParking"

<style>
    h1 {
        display: table;
        margin: 10px auto;
        padding: 5px;
        font-size: 50px;
        color: #ffffff;
        overflow: hidden;
    }

    h1 {
        text-shadow: 0 0 5px blue,0 0 5px blue, 0 0 5px blue,0 0 5px blue, 0 0 5px blue,0 0 5px blue, 0 0 5px blue,0 0 5px blue;
    }
</style>

<h1>Tickets</h1>


<div class="messageBox">
    <p>
        You must submit your order to obtain 2 free tickets by 4:00PM on Thursday October 24, 2024
    </p>
    <p>
        Please click the link below - Then you will be requested to submit your email address. You will then receive an
        email providing you a 2nd link that will allow you to fill out the ticket request form.
    </p>
</div>

<div class="verticalspacer"></div>

<div class="tickets">
    <p>
        <a href="https://tickets.armssoftware.com/ALPWa8E8?t=QP30mzW7&ae=zYrYYyrJ">Reserve Two Free Tickets</a>
    </p>
</div>

<div class="verticalspacer"></div>

<div class="verticalspacer"></div>

<h1>Blue Lot Parking</h1>

<div class="messageBox">
    <p>
        Please order Blue Lot Parking Passes While They Are Still Available
    </p>
    <p>
        Below Is The Link To Purchase A Blue Lot Parking Pass
    </p>
</div>

<div class="verticalspacer"></div>

<div class="tickets">
    <p>
        <a href="https://www.ticketmaster.com/parking-uconn-football-vs-rice-east-hartford-connecticut-10-26-2024/event/1D0060E8D9F53B45?artistid=3174319&majorcatid=10005&minorcatid=103">Purchase Blue Lot Parking</a>
        @* <a href="https://www.ticketmaster.com/promo/qbw0wp">Purchase Blue Lot Parking For The Rice Game</a> *@
    </p>
</div>
