@page "/ObtainTicketsAndParking"

<style>
    .messagebox {
        min-width: 50%;
        max-width: 100%;
        padding: 10px 10px 10px 10px;
        border: 1px solid blue;
        margin: 5px;
    }

    .verticalspacer {
        height: 80px;
    }
</style>

<h1><b>Tickets</b></h1>

<div class="messagebox">
    <b>
        <p>
            The UConn ticket office is currently in the process of providing me a link to allow UConn football alumni to order up to 2 free tickets to the Rice game
        </p>
        <p>
            As soon as I get the link, I will make it available on this page
        </p>
        <p>
            This year all tickets will be provided to players electroniclly
        </p>
    </b>
</div>

<div class="verticalspacer"></div>

<h1><b>Blue Lot Parking</b></h1>

<div class="messagebox">
    <b>
        <p>
        </p>
    </b>
</div>

<div class="verticalspacer"></div>



<div class="messagebox">
    <b>
        <p>
            Below Is The Link To Purchase A Blue Lot Parking Pass
        </p>
    </b>
    <p>
        <a href="https://www.ticketmaster.com/promo/qbw0wp"><b>Purchase Blue Lot Parking For The Rice Game</b></a>
    </p>
</div>
