@page "/photoGalleryTeams"

<style>
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        height: 90%;
        border: 2px solid blue;
    }

    h1 {
        display: table;
        margin: 10px auto;
        padding: 5px;
        font-size: 20px;
        color: #ffffff;
        overflow: hidden;
    }

    h1 {
        text-shadow: 0 0 5px blue,0 0 5px blue, 0 0 5px blue,0 0 5px blue, 0 0 5px blue,0 0 5px blue, 0 0 5px blue,0 0 5px blue;
    }
</style>


@if (img1 is not null)
{
    <p>
        <button style="color:blue;margin-right: 10%" class="col-form-label-sm fs-2 fw-bold" @onclick="Pause">@buttonPauseText</button>
        <label style="color:blue" class="col-form-label-sm fs-2 fw-bold">Go To Year</label>
        <input style="width:150px;color:blue" class="col-form-label-sm fs-2 fw-bold" @bind="GoToYear" />
        <label style="color:blue" class="col-form-label-sm fs-2 fw-bold">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@year</label>
    </p>

    <div>
        <img class="center" src="@img1">
    </div>
}

@code {
    public string? img1 { get; set; }
    List<string> fileList1 = new List<string>();
    string path1 = $"{Directory.GetCurrentDirectory()}{@"\wwwroot\imagesTeamPhotos"}";
    int index = 0;
    Timer? timer;
    string sequenceNumber = "";
    int max = 1;
    string err = "";
    string year = "1900";
    string buttonPauseText = "Pause";
    public string GoToYear { get; set; } = string.Empty;
    public string GoToYearLast { get; set; } = string.Empty;
    public bool GoToInProgress { get; set; } = false;

    protected override void OnInitialized()
    {
        try
        {
            LoadImages();

            if (timer != null)
            {
                timer.Dispose();
            }
            timer = new Timer(OnTimerEvent, null, 500, 5000);

        }
        catch (Exception ex)
        {
            err = ex.Message;
        }
    }
    public void LoadImages()
    {
        string[] files;

        try
        {
            files = Directory.GetFiles(path1);
            foreach (var file in files)
            {
                if (int.Parse(Path.GetFileNameWithoutExtension(file)) < 1960)
                {
                    continue;
                }
                fileList1.Add("imagesTeamPhotos/" + Path.GetFileName(file));
            }
            max = fileList1.Count;
            sequenceNumber = String.Format("{0} of {1}", index + 1, fileList1.Count);
            img1 = fileList1[0];
        }
        catch (Exception ex)
        {
            err = ex.Message;
        }
    }
    private void OnTimerEvent(object? state)
    {
        try
        {
            if (GoToInProgress)
            {
                return;
            }
            if (GoToYear != GoToYearLast)
            {
                for (int i = 0; i < fileList1.Count; i++)
                {
                    string temp = fileList1[i].Split("/")[1];
                    temp = temp.Split(".")[0];
                    int j = int.Parse(temp);
                    if (j == int.Parse(GoToYear))
                    {
                        index = i;
                        img1 = fileList1[index++];
                        year = GoToYear;
                        GoToYearLast = GoToYear;
                        GoToInProgress = true;
                        buttonPauseText = "Continue";
                        InvokeAsync(StateHasChanged);
                        return;
                    }
                }
                GoToYear = string.Empty;
                GoToYearLast = GoToYear;
                return;
            }
            img1 = fileList1[index++];
            if (index >= fileList1.Count)
            {
                index = 0;
            }
            sequenceNumber = String.Format("{0} of {1}", index, fileList1.Count);
            year = img1.Split(".")[0].Split("/")[1];
            InvokeAsync(StateHasChanged);
        }
        catch (Exception ex)
        {
            err = ex.Message;
        }
    }
    private void Pause()
    {
        timer?.Dispose();
        timer = null;
        if (buttonPauseText == "Pause")
        {
            buttonPauseText = "Continue";
        }
        else
        {
            GoToInProgress = false;
            GoToYear = string.Empty;
            GoToYearLast = string.Empty;
            timer = new Timer(OnTimerEvent, null, 500, 3000);
            buttonPauseText = "Pause";
        }
    }
}
