@page "/photoGallery1"

<style>
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        height: 90%;
        border: 2px solid blue;
    }

    h1 {
        display: table;
        margin: 10px auto;
        padding: 5px;
        font-size: 20px;
        color: #ffffff;
        overflow: hidden;
    }

    h1 {
        text-shadow: 0 0 5px blue,0 0 5px blue, 0 0 5px blue,0 0 5px blue, 0 0 5px blue,0 0 5px blue, 0 0 5px blue,0 0 5px blue;
    }
</style>


@if (img1 is not null)
{
    <h1>@sequenceNumber</h1>
    <p>
        <button Color="ButtonColor.Primary" @onclick="Pause">@buttonPauseText</button>
    </p>
    <div>
        <img src="@img1" class="center">
    </div>
}

@code {
    public string? img1 { get; set; }
    List<string> fileList1 = new List<string>();
    string path1 = $"{Directory.GetCurrentDirectory()}{@"\wwwroot\images1"}";
    string path2 = $"{Directory.GetCurrentDirectory()}{@"\wwwroot\images2"}";
    int index = 0;
    //int goToIndex = 73;
    Timer? timer;
    string sequenceNumber = "";
    //int value = 0;
    int max = 1;
    string err = "";
    string buttonPauseText = "Pause";
    bool disable = true;

    protected override void OnInitialized()
    {
        try
        {
            LoadImages();

            if (timer != null)
            {
                timer.Dispose();
            }
            timer = new Timer(OnTimerEvent, null, 500, 3000);

        }
        catch (Exception ex)
        {
            err = ex.Message;
        }
    }
    public void LoadImages()
    {
        string[] files;

        try
        {
            files = Directory.GetFiles(path1);
            foreach (var file in files)
            {
                if (Path.GetFileName(file) == "Andy1.jpg")
                {
                    continue;
                }
                fileList1.Add("images1/" + Path.GetFileName(file));
            }
            files = Directory.GetFiles(path2);
            foreach (var file in files)
            {
                if (Path.GetFileName(file) == "Andy1.jpg")
                {
                    continue;
                }
                fileList1.Add("images2/" + Path.GetFileName(file));
            }
            max = fileList1.Count;
            sequenceNumber = String.Format("{0} of {1}", index + 1, fileList1.Count);
            img1 = fileList1[0];
        }
        catch (Exception ex)
        {
            err = ex.Message;
        }
    }
    private void OnTimerEvent(object? state)
    {
        try
        {
            img1 = fileList1[index++];
            if (index >= fileList1.Count)
            {
                index = 0;
            }
            sequenceNumber = String.Format("{0} of {1}", index, fileList1.Count);
            InvokeAsync(StateHasChanged);
        }
        catch (Exception ex)
        {
            err = ex.Message;
        }
    }
    protected void Pause(EventArgs args)
    {
        timer?.Dispose();
        timer = null;
        if (buttonPauseText == "Pause")
        {
            buttonPauseText = "Continue";
            disable = false;
        }
        else
        {
            timer = new Timer(OnTimerEvent, null, 500, 3000);
            buttonPauseText = "Pause";
            disable = true;
        }
    }
}
