@page "/photoGallery1"

@if (img1 is not null)
{
    <div class="wrapper">
        <div class="box box"><img src="@img1"></div>
    </div>
}

@code {
    public string? img1 { get; set; }
    List<string> fileList1 = new List<string>();
    string path1 = $"{Directory.GetCurrentDirectory()}{@"\wwwroot\images1"}";
    string path2 = $"{Directory.GetCurrentDirectory()}{@"\wwwroot\images2"}";
    int index = 0;
    Timer? timer;

    protected override void OnInitialized()
    {
        LoadImages();

        if (timer != null)
        {
            timer.Dispose();
        }
        timer = new Timer(OnTimerEvent, null, 1000, 3500);

        base.OnInitialized();
    }
    public void LoadImages()
    {
        string[] files;
        files = Directory.GetFiles(path1);
        foreach (var file in files)
        {
            if (Path.GetFileName(file) == "Andy1.jpg")
            {
                continue;
            }
            fileList1.Add("images1/" + Path.GetFileName(file));
        }
        files = Directory.GetFiles(path2);
        foreach (var file in files)
        {
            if (Path.GetFileName(file) == "Andy1.jpg")
            {
                continue;
            }
            fileList1.Add("images2/" + Path.GetFileName(file));
        }
    }
    private void OnTimerEvent(object? state)
    {
        img1 = fileList1[index++];
        if (index >= fileList1.Count)
        {
            index = 0;
        }
        InvokeAsync(StateHasChanged);
    }
}
