@page "/photoGallery1"

@if (img is not null)
{
    <div>
        <img src="@img" style="width:1400px;height:800px;" />
    </div>
}

@code {
    public string? img { get; set; }
    List<string> fileList = new List<string>();
    string path = $"{Directory.GetCurrentDirectory()}{@"\wwwroot\images"}";
    int index = 0;

    protected override void OnInitialized()
    {
        LoadImages();

        Timer timer1 = new Timer(OnTimerEvent, null, 100, 3000);

        base.OnInitialized();
    }
    public void LoadImages()
    {
        string[] files;
        files = Directory.GetFiles(path);
        foreach (var file in files)
        {
            if (Path.GetFileName(file) == "Andy1.jpg")
            {
                continue;
            }
            fileList.Add("images/" + Path.GetFileName(file));
        }
    }
    private void OnTimerEvent(object? state)
    {
        img = fileList[index++];
        if (index >= fileList.Count)
        {
            index = 0;
        }
        InvokeAsync(StateHasChanged);
    }
}
