@page "/TeamPhoto"

@inject PlayerService PlayerService

<style>
    .imageTeams {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        border: 3px solid blue;
    }
</style>

@using UConnBleedBlue.Models

@if (imageSrc is not null)
{
    <p>
        <div>
            <img src="@imageSrc" class="imageTeams">
        </div>
    </p>
}


@code {
    string imageSrc = "";

    protected override void OnInitialized()
    {
        try
        {
            // create the path to the image via the image file's name
            // File.Exists() needs wwwroot prefix to find it
            imageSrc = $"wwwroot/imagesTeamPhotos/{PlayerService.SelectedPlayerFinalYear}.png";
            if (File.Exists(imageSrc) == false)
            {
                imageSrc = "wwwroot/imagesTeamPhotos/MissingTeamPhoto.png";

            }
            // remove prefix
            imageSrc = imageSrc.Substring(8);
            InvokeAsync(StateHasChanged);
        }
        catch (Exception ex)
        {
            
        }
    }

}
